/* Custom style rules */
.sidebar {
  position: sticky;
  top: .5rem; 
  height: 100vh; 
  overflow-y: auto;
}
.sidebar .nav-link {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0;
  padding-right: 0;
  color: #6c757d;
} 
 .sidebar .nav-link:hover {
  text-decoration: underline;
} 
.l1 { padding-left: 0; }
.l2 { padding-left: 1rem; }
.l3 { padding-left: 2rem; }
